/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --blocks-heading-color:  #FF0070;
  --header-decoration-color: #FF0070;
  --title-decor-text-color: #000028;
  --button-color: rgba(255, 0, 112, 0.40);
  background-image: url(../images/cover-image-dark.png);
}
