/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --blocks-heading-color:  #353430;
  --header-decoration-color: #353430;
  --title-decor-text-color: #353430;
  --button-color: rgba(50, 49, 45, 0.40);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decorated-element {
  visibility: hidden;
}

.theme_light .header__decorated-element::after {
  visibility: hidden;
}

.theme_light .title-decor {
  color: var(--text-color, #353430);
}

@media (width >= 1024px) {
.theme_light .header__title {
  --accent-color: #FF0070;
  }

.theme_light .footer__title {
  --accent-color: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --blocks-heading-color:  #353430;
    --header-decoration-color: #353430;
    --title-decor-text-color: #353430;
    --button-color: rgba(50, 49, 45, 0.40);
  }
  
  .page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .header__decorated-element {
    visibility: hidden;
  }
  
  .header__decorated-element::after {
    visibility: hidden;
  }
}

@media (width >= 1024px) and (prefers-color-scheme: light) {
  .header__title {
    --accent-color: #FF0070;
  }

  .footer__title {
    --accent-color: #FF0070;
  }
}