/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --blocks-heading-color:  #FF0070;
  --header-decoration-color: #FF0070;
  --title-decor-text-color: #000028;
  --button-color: rgba(255, 0, 112, 0.40);
  --main-font: 'IBM Plex mono', monospace;
  --text-font-size: 18px;
  --text-font-weight: 400;
  --heading-font-weight: 700;
  --small-margin: 10px;
  --middle-margin: 20px; 
  --big-margin: 40px;
  --section-gap: 50px;
}

@media (width >= 768px) {
  :root {
    --big-margin: 60px;
    --section-gap: 80px; 
  }